// $body-bg:                       #f3f5f7 !default;
// $body-color:                    #113a59 !default;

// $color-text-primary:            #113a59 !default;
// $color-text-primary-t40:        rgba(17,58,89,.4) !default;
// $color-text-primary-t50:        rgba(17,58,89,.5) !default;
// $color-text-primary-t60:        rgba(17,58,89,.6) !default;
// $color-text-secondary:          #19405e !default;
// $color-text-secondary-t80:      rgba(25,64,94,.8) !default;
// $color-link:                    #31a1f9 !default;

// $font-family-sans:              'Source Sans Pro', 'Arial', 'Helvetica', sans-serif !default;
// $font-family-serif:             Georgia, 'Times New Roman', Times, serif !default;
// $font-family-card:             'ocr-a_bt', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif !default;
// $font-family-base:              $font-family-sans !default;

// $font-size-root:                16px !default;
// $font-size-base:                1rem !default;

// $line-height-base:              1 !default;

$color-background:                 rgba(244, 245, 248, 1) !default;
$color-card:                       #FFFFFF !default;
$color-card-info:                  #7C98DF !default;
$color-hr:                         #ADB9C8 !default;

$color-text-link:                  #0047FF !default;
$color-text-footer:                #4C5A6B !default;
$color-text-title:                 #000000 !default;
$color-text-description:           #000000 !default;


$card-shadow:                      0 0 10px 0 rgba(68, 102, 242, 0.05);
$card-border-radious:              32px;
$card-info-shadow:                 0 0 10px 0 rgba(68, 102, 242, 0.05);
$card-info-border-radious:         24px;
